* {
  margin: 0;
  padding: 0;
}

body {
  text-align:center;
  font-family:Helvetica;
}

li {
  list-style: none;
}

h3 {
  font-size: 23px;
  margin: 6px;
  font-weight: 800;
}

a {
  color:white;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color:navy;
}

.header {
  color:white;
  background-image: url("../resources/images/the-flatiron-building.png");
  border-radius: 20px;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
  padding:10px;
  margin-bottom: 20px;
}

.header li {
  padding: 6px;
  text-decoration: none;
}

.process {
  margin-top:20px;
  padding-top:15px;
  background-color: azure;
  border-radius: 30px;
  border: 2px skyblue solid;
}

.process h2 {
  font-size:32px;
  padding-bottom: 6px;
  font-weight: 800;
}

.process p {
  padding-bottom: 35px;
}

.about-us {
  border-radius: 15px;
  background-color: lavender;
}
.about-us h2 {
  margin-top: 20px;
  border-radius: 15px;
  background-image: url("../resources/images/the-flatiron-building.png");
  color:white;
  font-size:23px;
  font-weight: 800;
}

.about-us h3 {
  padding: 10px;
}

.footer {
  margin-top: 20px;
  border-radius: 15px;
  background-color: dimgray;
}

.footer li {
  display:inline;
  padding: 2px;
}

#copyright {
  font-size: 11px;
  color: white;
}
